NODE_ENV = development

MONGO_URI = mongodb://127.0.0.1:27017/online-cinema
# MONGO_URI = mongodb://127.0.0.1:27017/online-cinema
# MONGO_URI = "mongodb+srv://arsa:12@cluster0.nxpog4s.mongodb.net/"

JWT_SECRET = mvossvsutio

TELEGRAM_TOKEN = '60429:AAFovc8CqNjzFAbk' #  bot ArtTest_bot 
CHAT_ID = '-10' # chat "Тест 30-09-23"