.list {
	@apply mt-8 animate-fade; //Верхний отступ, анимация

	.heading {
		@apply font-bold text-base mb-5 text-white capitalize; // capitalize Каждое новое слово с большой буквы
	}

	.button {
		@apply p-2.5 btn-primary block text-center;
	}

	.item {
		@apply mb-4 flex items-stretch;

		> a {
			img {
				@apply rounded-image transition-colors;
				border: 1px solid transparent !important;
			}

			&:hover {
				img {
					border-color: var(--primary-color) !important;
				}
			}
		}

		.info {
			@apply ml-4 flex flex-col justify-between;
			width: 67%;

			.title {
				@apply text-white text-xs font-medium truncate;
			}

			.genres {
				@apply text-gray-600 text-xs;
			}

			.rating {
				@apply flex items-center mb-2;

				> svg {
					@apply fill-yellow-700 mr-2 text-xs;
				}

				> span {
					@apply text-white text-xs font-medium pt-0.5;
				}
			}
		}
	}
}
